<table>
  <thead>
  <tr>
    <% controller.list_fields.each do |field| %>
        <th><%= model_klass.human_attribute_name(field) %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @records.each do |record| %>
    <tr>
    <% controller.list_fields.each do |field| %>
      <td><%= record.send(field) %></td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
</table>