<section class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="box box-info">
        <div class="box-header">
          <h3 class="box-title"><%= model_klass.model_name.human %></h3>
        </div>
        <div class="box-body">
          <div class="table-responsive">
            <table class="table">
              <tbody>
              <% controller.show_params.each do |field| %>
                <tr>
                  <th class="col-sm-3"><%= model_klass.human_attribute_name field %></th>
                  <td class="col-sm-9"><%= @record.display_attribute(field) %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="box-footer">
          <div>
            <%= link_to 'Cancel', @record.admin_index_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
